# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.gradle/
build/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
# android/
# android/.gradle/
# android/.gradle-home/
# android/build/
# android/app/build/
.externalNativeBuild/
.cxx/
captures/
output-metadata.json
local.properties
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.aab
*.apk
google-services.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.hprof

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
.vercel

# IntelliJ / Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# local IDE and scratch files
.gradle-user/
icon-from-html.png
tmp-render-launch-icon.html
